<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentEvaluationApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudentEvaluationApp.Properties.Settings>
            <setting name="ConString" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentStudentID" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedCourseID" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedCourse" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentSemID" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentYearID" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentCV" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProgram" serializeAs="String">
                <value />
            </setting>
        </StudentEvaluationApp.Properties.Settings>
    </userSettings>
</configuration>